<!-- <img src="https://angular.io/assets/images/logos/angular/angular.svg" width="240px" height="240px" /> -->
<!-- <h1 class="hero-title">One framework. <br> Mobile & desktop.</h1> -->
<!-- <a class="welcome-button" (click)="gettingStarted()">Get Started</a> -->


<br>

<h1>Welcome</h1>

<form class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Username or Email" type="email">
    </mat-form-field>

    <br>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" type="password">
    </mat-form-field>

    <p>
        <button mat-button mat-raised-button color="primary" (click)="gettingStarted()">Login</button>
    </p>
</form>